.sign-up-in-link{
    color: #5a59c6;
    text-decoration: underline;
    cursor: pointer;
}

.form-valiation-msg{
    color: red;
    font-style: italic;
    font-size: smaller;
    display: block;
}